*{
    font-family: 'Arima', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
body{
    background-image: url(images/sky.jpg);
}
header{
    background-color: #022738;
    min-height: 1em;
    max-height: 4em;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
}
header img {
    width: 6.8em;
    height: 4.7em;
    margin-left: 150px;
    padding-bottom: 10px;
}
header p {
    font-family: 'Lobster', cursive;
    margin-top: 20px;
    margin-left: 40px;
    color: #d4daeb;
}
nav{
    margin-top: 23px;
    margin-right: 150px;
}
nav a {
    text-decoration: none;
    color: #d4daeb;
    margin-left: 30px;
    transition: 0.8s;
}
nav a:hover {
    color: #4b7be5;
    font-size: 1.2em;
}
.intro {
    padding-top: 6em;
    display: flex;
    justify-content: space-between;
    background-color: rgb(2 39 56 / 0.2);
    padding-bottom: 80px;
}
.intro-img{
    width: 27.71875em;
    height: 20.75em;
    position: relative;
    margin-top: 100px;
    margin-right: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px #022738;
    transition: 0.8s ease;
}
.intro-img img {
    width: 27.71875em;
    height: 20.75em;
    border-radius: 10px;
    position: absolute;
}
.intro-img:hover {
    transform: scale(1.2);
    transition: 0.8s;
}
.int-img4{
    transition-delay: 0.5s;
    transition: 0.8s;
}
.int-img3{
    transition: 0.8s;
    transition-delay: 3s;
}
.int-img2{
    transition: 0.8s;
    transition-delay: 5s;
}
.intro-img:hover .int-img4{
    opacity: 0;
}
.intro-img:hover .int-img3{
    opacity: 0;
}
.intro-img:hover .int-img2{
    opacity: 0;
}
.intro-info{
    margin-top: 150px;
    margin-left: 200px;
}
.intro-info h3 {
    font-size: 2.5em;
    font-weight: 800;
    color: #162930;
    padding-bottom: 20px;
}
.intro-info h3 span {
    font-size: 1.5em;
    color: #3d67c2;
}
.intro-info p {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
    color: #12354a;
}
.intro-info span{
    color: #d4daeb;
    text-transform: uppercase;
}

.intro-info a i {
    font-size: 2.5em;
    color: #4b7be5;
    padding-left: 30px;
    padding-top: 20px;
    transition: 0.8s;
}

.intro-info a i:hover{
    color: #022738;
    transform: rotate(360deg);
}
.products{
    background-color: #022738;
    padding-top: 80px;
    padding-left: 350px;
    padding-right: 350px;
}
.content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-card{
    border: 3px solid #022738;
    border-radius: 10px;
    box-shadow: 5px 5px 25px #050505;
    transition: 0.8s;
    margin-bottom: 80px;
}
.product-card:hover{
    transform: scale(1.2);
}
.product-img{
    position: relative;
    background-color: #022738;
    border-radius: 10px;
    height: 26.0625em;
    overflow: hidden;
    transition: 0.8s;
}
.product-img img{
    width: 18.875em;
    height: 26.0625em;
    border-radius: 10px;
}
.product-img:hover{
    height: 30em;
}
.product-img .img-top {
    transition: 2s;
    transition-delay: 0.8s;
    position: absolute;
    left: 0px;
}
.product-img .img-top:hover{
    opacity: 0;
}
.price{
    font-size: 1.5em;
    font-weight: 600;
    color: #d4daeb;
    text-align: center;
    padding: 10px 0;
}
.size{
    padding-top: 300px;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 300px;
}
.size-card{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 20px 20px 20px 0;
    width: 35px;
    height: 105px;
    overflow: hidden;
    transition: 0.7s;
}
.size-info{
    margin-right: 60px;
    font-size: 4em;
    font-weight: 800;
    color: #4b7be5;
}
.size-info-m{
    margin-right: 60px;
    font-size: 2.9em;
    font-weight: 800;
    color: #4b7be5;
}
.size-info-m span {
    color: #022738;
}
.size-info span {
    color: #022738;
}

.size-wh{
    margin-right: 60px;
    font-size: 2em;
    font-weight: 800;
}
.size-img img{
    width: 13.40625em;
    height: 11.890625em;
}
.size-card:hover {
    width: 736.41px;
    height: 239.25px;
}
.footer {
    background-color: #12354a;
    color: #d4daeb;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #4b7be5;
}

.footer .social-icons a{
    color: #d4daeb;
    font-size: 1.3em;
    padding: 0 20px 0 0;
}